---

  - name: Copy kubernetes repo file
    copy:
      src: files/kubernetes.repo
      dest: /etc/yum.repos.d/kubernetes.repo

  - name: Install Kubernetes binaries
    yum: 
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
        - kubelet 
        - kubeadm 
        - kubectl
        